**/node_modules
**/dist
**/build
**/dist.zip
**/dist.tar.gz
**/dist.tar.bz2
**/dist.tar.xz
**/dist.tar.lzma
**/dist.tar.lz

**/venv
**/*_env
**/*-env
**/*.pt
**/*.h5
**/*.pth
**/*.npy
**/__pycache__
**/data/images



